<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>imobiliariapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3058C531BF246CB0074B8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3058C671BF246CB0074B8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3058C721BF246CB0074B8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
